* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

/* fraction */
.fraction {
    display: inline-block;
    text-align: center;
}

.bottom {
    border-top: 1px solid #000;
    display: block;
}

/* answer  */

.contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contents .content .question {
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
}

.contents .content .question .tip {
    position: absolute;
    right: 0;
    font-size: 25px;
    color: #1CB0F6;
    cursor: pointer;
    display: none;
}

.contents .content .question .tip.active {
    display: block;
}

.contents .content .question .question-img {
    display: block;
    max-width: 250px;
    margin: 10px 0;
}

.contents .content .question .question-content {
    font-weight: 400;
}

.contents .content .question .question-content .fraction {
    position: relative;
    top: 10px;
    margin: 0 3px;
}

.contents .content .question .question-content em {
    font-style: normal;
    font-size: 20px;
    padding: 0 5px;
}

.contents .content .answerGroup {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.contents .content .answerGroup.grid {
    display: grid;
    grid-template: 2fr / 1fr 1fr;
    gap: 10px;
}

.contents .content .answerGroup.line {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.contents .content .answerGroup .answer .num::before {
    font-weight: 500;
}

.contents .content .answerGroup .answer:nth-child(1) .num::before {
    content: 'A.';
    display: inline;
}

.contents .content .answerGroup .answer:nth-child(2) .num::before {
    content: 'B.';
    display: inline;
}

.contents .content .answerGroup .answer:nth-child(3) .num::before {
    content: 'C.';
    display: inline;
}

.contents .content .answerGroup .answer:nth-child(4) .num::before {
    content: 'D.';
    display: inline;
}

.contents .content .answerGroup .answer:nth-child(5) .num::before {
    content: 'E.';
    display: inline;
}

.contents .content .answerGroup .answer:nth-child(6) .num::before {
    content: 'F.';
    display: inline;
}

.contents .content .answerGroup .answer {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.contents .content .answerGroup .answer .num {
    position: relative;
}

.contents .content .answerGroup .answer.ans.false .num::after,
.contents .content .answerGroup .answer .num.select::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #1899D6;
    left: -10px;
    top: -5px;
}

.contents .content .answerGroup .answer.true .num::after {
    border-color: green;
}

.contents .content .answerGroup .answer.false .num::after {
    border-color: red;
}

.contents .content .answerGroup .answer.ans.false .num::after {
    border-color: purple;
}

.contents .content .answerGroup .answer.true,
.contents .content .answerGroup .answer.false {
    pointer-events: none;
}

/* btn check */
.btn {
    appearance: button;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 500px;
}

.btn:after {
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.btn:main,
.btn:focus {
    user-select: auto;
}

.btn:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.btn:disabled {
    cursor: auto;
}

.btn:active {
    border-width: 4px 0 0;
    background: none;
}

.btn-check::after {
    background-color: #1CB0F6;
}

.btn-check {
    background-color: #1899D6;
}

.btn-reset {
    background-color: #9b254c;
}

.btn-reset::after {
    background-color: #f0003c;
}

.btn-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* popupGroup */
.popupGroup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #00000080;
    display: none;
}

.popupGroup.active {
    display: block;
}

.popupGroup .popup {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 500px;
    height: max-content;
    border-radius: 20px;
    display: none;
}

.popupGroup .popup .popup-close-btn {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
}

.popupGroup .popup .popup-header {
    background-color: #1CB0F6;
    color: #fff;
    border-radius: 20px 20px 0 0;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
}

.popupGroup .popup .popup-contents {
    height: max-content;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}